{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accès Refusé</h1>
    <p>{{ message }}</p>
    <p>Si vous pensez qu'il s'agit d'une erreur, veuillez contacter notre support.</p>

{% endblock %}